body {
  height: 100%;
  width: 100%;
  margin: 0px;
}

html {
  font-family: Arial, Helvetica, sans-serif;
}

@font-face {
  font-family: Oswald;
  src: url("../fonts/Oswald-VariableFont_wght.ttf");
}

.preview-header {
  height: 54px;
  width: 100%;
  background-color: #262626;
  margin-bottom: 1;
  line-height: 54px;
}

.preview-header .envato-market {
  display: inline-block;
  width: 152px;
  height: 18px;
  position: absolute;
  top: 18px;
  left: 20px;
  text-indent: -9999px;
  background: url(https://public-assets.envato-static.com/assets/logos/envato_market-dde916a48af7413e54aa058fe7ae6856752fca799da4bec355f00aea904bfa19.svg);
}

.preview-header .preview-actions {
  float: right;
}

.preview-header .preview-actions .preview-action-btn {
  display: inline-block;
  padding: 0 20px;
}

.preview-header .preview-actions .preview-action-btn a {
  display: inline-block;
  background-color: #82b440;
  line-height: 1.5;
  padding: 5px 20px;
  font-size: 14px;
  box-shadow: 0 2px 0 #6f9a37;
  color: white;
  text-decoration: none;
  border-radius: 4px;
  margin-top: 10px;
}
